nav {
  background-color: #1c2b35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 80px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav div {
  display: flex;
  gap: 30px;
}

nav div a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

nav div a:hover {
  color: #ff9900;

  transition: color 0.4s ease-in;
}

@media screen and (max-width: 800px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    padding: 5px 20px;
    gap: 15px;
  }
}
