.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container-inner {
  border-radius: 8px;
  border: 1px solid #95a0a7;
  background-color: #fff;
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: -10px 10px #ffe0b3;
}

.login-h3 {
  color: #2a414f;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 0px;
}

.input-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  gap: 5px;
  width: 85%;
  margin-bottom: 10px;
  /* border: 1px solid red; */
}

.input-div label {
  color: #2a414f;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.026px;
}

.input-div input {
  border-radius: 5px;
  border: 1px solid #95a0a7;
  padding: 15px 0px 15px 15px;
  width: 95%;
}

.btn-login {
  width: 85%;
  padding: 13px 0px;
  border: 0;
  background-color: #ffe0b3;
  font-size: 16px;
  font-weight: 600;
  color: #2a414f;
  border-radius: 5px;
}

.btn-login:hover {
  /* border: 1px solid #95a0a7; */
}

.login-a-tag1 {
  font-size: x-small;
  text-decoration: none;
  color: #2a414f;
}

.login-a-tag1 span {
  color: #ff9900;
}

.hr-div {
  display: flex;
  gap: 20px;
  width: 75%;
}

.hr-div hr {
  height: 0.1px;
  width: 100%;
  background-color: #95a0a7;
}

.btn-google {
  width: 85%;
  padding: 5px 0px;
  border: 1px solid #95a0a7;
  font-size: 14px;
  font-weight: 600;
  color: #2a414f;
  margin-bottom: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.btn-google:hover {
  transition: background-color 0.3s ease-in;
  background-color: #ffe0b3;
  cursor: pointer;
}

.google-img {
  width: 35px;
  height: 35px;
}
